{% load staticfiles %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static "elfinder/css/elfinder.min.css" %}">
<script type="text/javascript" src="{% static "elfinder/js/elfinder.full.js" %}"></script>

<script type="text/javascript" charset="utf-8">
    $().ready(function() {
            var elf = $('#elfinder').elfinder({
                url :'{% url 'trtconnector' %}',
                customData : { csrfmiddlewaretoken : '{{ csrf_token }}',  },
}).elfinder('instance');            
});
</script>

<div id="elfinder"></div>

