<script type="text/javascript">
    news=[];  // history[] holds the available events on the client side
    nversion=0; // last_modified holds the time that the client side version was created as RFC2822
    function NEntry(entry) {
        var base=$("<div></div>").addClass("post");
        var headline=$("<h2></h2>").html('<a href="#">'+entry.headline+'</a>');
        var pub=$("<ul></ul>").html('<li>'+entry.pub_date+'</li>');
        var content=$("<div></div>").addClass("post_content").html(entry.message);
        var meta=$("<div></div>").addClass("post_meta").html(' <div class="post_meta"> <ul class="clearfix"> <li class="post_category"> Published in <a href="#" title="View all posts in News" rel="category tag">News</a>, <a href="#" title="View all posts in TrainingTeam" rel="category tag">Training Team</a> </li> </ul> </div>');
        base.append(headline,pub,content,meta).appendTo("#news");
    }
    function getNews(){
        $.ajax({
            type: "HEAD",
            async: true,
            url: "async/news/",
            success: function(message,text,response){
                lm = response.getResponseHeader("Last-Modified");
                lm = new Date(Date.parse(lm));
                if(lm > nversion){
                    $.getJSON("async/news/", function(data,status,xhr){
                        nversion = xhr.getResponseHeader("Last-Modified");
                        console.log(xhr.getResponseHeader("Last-Modified"));
                        nversion = new Date(Date.parse(nversion));
                        console.log(nversion)
                        news=data;
                        nbuildlists();
                    });
                }
            }
        });
    }
    function nbuildlists(){
        $("#news").empty();
        $.each( news, function( key, val ) {
            NEntry(val.fields);
        });
    }
    $(function(){
        getNews();
        $("#button-news").click(function(){
            $(".contents").hide();
            $("#news").show();
            getNews();
        });
    });
</script>
