{% if news_list%}
{% for entry in news_list %}
<div class="post">
    <h2 class="post_title">
        <a href="#" title="Poglej cel prispevek">
            {{ entry.headline }}
        </a>
    </h2>
    <ul class="post_info">
        <li>
        Published:
        {{ entry.pub_date }}
        </li>
    </ul>
    <div class="post_content">
        {{ entry.message }}
    </div>
</div>

<div class="post_meta">
    <ul class="clearfix">
        <li class="post_category">
        Published in <a href="#" title="View all posts in News" rel="category tag">News</a>,
        <a href="#" title="View all posts in TrainingTeam" rel="category tag">Training Team</a>
        </li>
    </ul>
</div>
{% endfor %}
{% else %}
<p>No polls are available.</p>
{% endif %}
