    <button class="news">News</button>
    <button class="operational">Events</button>
    <button class="training">Trainings</button>
    <button class="materials">Materials</button>
    <button class="contact">Contact</button>
    <button class="pool">Pool</button>
    <button class="account" class="authed">My Account </button>
    <button class="admin" class="staffed"> Admin </button>
    <button class="logout" class="authed">  Logout </button>
    <button class="signup anon"> Register
    {% include "account/register.html" %}</button>
    <button class="signin anon"> Log In
    {% include "account/login.html" %}</button>
