    <button id="news">News</button>
    <button id="operational">Events</button>
    <button id="training">Trainings</button>
    <button id="materials">Materials</button>
    <button id="contact">Contact</button>
    <button id="pool">Pool</button>
    <button id="account" class="authed">My Account </button>
    <button id="admin" class="staffed"> Admin </button>
    <button id="logout" class="authed">  Logout </button>
    <button class="signup anon"> Register
    {% include "account/register.html" %}</button>
    <button class="signin anon"> Log In
    {% include "account/login.html" %}</button>
