<script type="text/javascript">
    function linkbutton(name){
        $("#button-"+name).click(function(){
                $("#contents").load(name);
                });
    };
$(function(){
        linkbutton("materials");
        linkbutton("account");
        linkbutton("historyoperational");
        linkbutton("historytrainings");
        linkbutton("news");
        linkbutton("contact");
        });
    </script>
    <ul id="menu-header-menu" class="menu">
        <li>
        <a href="#" id="button-news">News</a>
        </li>
        <li>
        <a href="#" id="button-historyoperational">Events</a>
        </li>
        <li>
        <a href="#" id="button-historytrainings">Trainings</a>
        </li>
        <li>
        <a href="#" id="button-materials">Materials</a>
        </li>
        <li>
        <a href="#" id="button-contact">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li>
        <a href="#" id="button-account">My Account </a>
        </li>
        <li>
        <a href="{% url 'logout' %}">  Logout </a>
        </li>
    </ul>
    {% else %}
    <li>
    <a href="#" class="signin"> Login </a>
    {% include "platform/login.html" %}
    </li>
</ul>
{% endif %}
