<form action="/account/" enctype="multipart/form-data" method="post">{% csrf_token %}
    <h2>Personal Information</h2>
    <fieldset>
        <h3>Name</h3>
        <input id="id_first_name" maxlength="30" name="first_name" type="text" />
        <input id="id_last_name" maxlength="30" name="last_name" type="text" value="" />
        <h3>Your Picture</h3>
        <input id="id_profile_picture" name="profile_picture" type="file" />
        <h3>Date of Birth</h3>
        <input id="id_born_on" name="born_on" type="text" />
        <h3>Languages</h3>
        <input type="text" id="id_languages" name="languages" />
        <h3>What are the best ways to contact you?</h3>
        <textarea cols="40" id="id_contact" name="contact" rows="10"></textarea>
    </fieldset>
    <h2>Regarding EESTEC</h2>
    <fieldset>
        <h3>Local Committee</h3>
        <input id="id_lc" maxlength="30"ength="50" name="lc" type="text" />
        <h3>When did you Join eestec?</h3>
        <input id="id_join_date" name="join_date" type="text" />
    </fieldset>
    <h2>As a Trainer</h2>
    <fieldset>
        <h3>How many Trainings have you delivered?</h3>
        <input id="id_trainings_delivered" name="trainings_delivered" type="number" />
        <h3>What are your favourite trainings?</h3>
        <textarea cols="40" id="id_preferred_topics" name="preferred_topics" rows="10"> </textarea>
    </fieldset>
    <input type="submit" value="Update information" />
</form>
